<section
  class="min-h-screen min-w-full flex flex-col justify-center items-center bg-primary relative"
>
  <img
    ngSrc="assets/images/riyadh.png"
    alt="Riyadh City"
    fill
    class="relative z-0 opacity-25"
  />
  <div class="w-fit rounded-lg bg-white p-8 container my-10 relative z-20">
    <div class="flex justify-center items-center gap-3 mb-5">
      <img ngSrc="assets/images/logo.png" alt="Logo" width="40" height="40" />
      <p class="text-2xl text-blue-800 logo-font">وافق</p>
    </div>
    <router-outlet />
  </div>
</section>
